<div class="taskdescription">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class=" ">
          <div class=" ">
            <p>

              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#<%=task.id %>" aria-expanded="false" aria-controls="collapseExample">
                Task name: <h4><%= task.name %></h4>
              </button>
            </p>
            <div class="collapse" id="<%=task.id %>">
              <div class="card card-body">
                Task description: <p><%= task.description %></p>
              </div>
            </div>




</div>
</div>
</div>
</div>
</div>
</div>
