// Place all the styles related to the managements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: 'Nunito Sans', sans-serif !important; 
    background: #bed0d8 !important;
}
.card{
  box-shadow: 0 0.1rem 0.2rem;
}
